.header {
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 1.1em 20;       
  text-align: center;      
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;    
  gap: 20px;              
}
